@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject IMemoryCache Cache
@inject NavigationManager Navigator

@if (ScreenWidth >= ScreenHeight)
{
    <NavMenu />

    <div style="margin-left: 12vh;" class="px-4">
        @Body
    </div>
}
else
{
    <div class="px-4" style="margin-bottom: 12vw;">
        @Body
    </div>

    <NavMenu />
}

@code
{
    public static int ScreenWidth;
    public static int ScreenHeight;

    public string Code;

    protected override async Task OnInitializedAsync()
    {
        ScreenWidth = await JSRuntime.InvokeAsync<int>("getWidth");
        ScreenHeight = await JSRuntime.InvokeAsync<int>("getHeight");

        if (Cache.TryGetValue<string>("code", out Code))
        {

        }
        else
        {
            /*
            Navigator.NavigateTo("https://student.sbhs.net.au/api/authorize?response_type=code" + 
                                                                           "&scope=all-ro" + 
                                                                           "&state=abc" +
                                                                           "&client_id=Paragon_Tools" +
                                                                           "&redirect_uri=" + Navigator.Uri + "/callback");
            */
        }
    }
}